body {
  margin: 0;
  background: #cfcfcf;
  font-family: "Times New Roman", serif;
}

h1 {
  text-align: center;
  font-size: 34px;
  margin: 30px 0 20px 0;
}

#telechargement {
  list-style: none;
  margin: 0;
  padding: 0 40px;
}

#telechargement li {
  padding: 22px 0;
  border-bottom: 2px solid #404040;
}

#telechargement li:last-child {
  border-bottom: none;
}

#telechargement a {
  display: inline-block;
  text-decoration: none;
}

#telechargement a::before {
  content: attr(href);
  display: inline-block;
  padding-left: 70px;
  line-height: 48px;
  color: #6a0000;
  font-weight: bold;
  text-decoration: underline;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 48px 48px;
}

#telechargement a[href$=".pdf"]::before { background-image: url("icones/pdf.png"); }
#telechargement a[href$=".doc"]::before { background-image: url("icones/doc.png"); }
#telechargement a[href$=".xls"]::before { background-image: url("icones/xls.png"); }
#telechargement a[href$=".png"]::before { background-image: url("icones/png.png"); }
#telechargement a[href$=".rtf"]::before { background-image: url("icones/rtf.png"); }
#telechargement a[href$=".zip"]::before { background-image: url("icones/zip.png"); }
#telechargement a[href$=".svg"]::before { background-image: url("icones/svg.png"); }
#telechargement a[href$=".ods"]::before { background-image: url("icones/ods.png"); }
#telechargement a[href$=".ppt"]::before { background-image: url("icones/ppt.png"); }

#telechargement a::after {
  content: " ( )";
  display: inline-block;
  margin-left: 8px;
  color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 12px;
}

#telechargement a[hreflang="fr"]::after { background-image: url("icones/fr.jpg"); }
#telechargement a[hreflang="en"]::after { background-image: url("icones/en.jpg"); }
