.rectangle {
    width: 300px;
    height: 200px;
    background-color: rgb(34, 205, 0);
}

@media screen and (max-width: 960px) {
    .rectangle{
        background-color: rgb(255, 0, 0);
    }
  }
  @media screen and (max-width: 480px) {
    .rectangle{
        background-color: rgb(39, 104, 255);
    }
}