body{
    margin:0;
    line-height: 1.5;
}

header{
    padding: 20px;
    background: #009546;
}

h1{
    margin: 0 0 10px 0;
    font-size: 28px;
}

nav{
    background: #ff2323;
    color: #ffffff;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
    gap: 20px;
}

nav li{
    padding: 12px 16px;
}

nav a{
    color:#ffffff;
    text-decoration:none;
}

nav.is-sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

p{
    max-width: 900px;
    margin: 20px auto;
    padding: 0 16px 60px 16px;
}
